<div class="usersIndex effectsIndex">
    <div>
        <div class="usersDisplay">
            {{#each effects}}
            <div>
                <div class="effectImg">
                    <img class="sizeBig" src="{{this.img}}" alt="Picture of Effect">
                </div>
                <div class="effectDescription">
                    <p>{{this.description}}</p>
                </div>
                <div class="effectDetails">
                    <p>destroyed: {{this.destroyed}}</p>
                    <p>available: {{this.available}}</p>
                    <p>do i want this?: {{this.want}}</p>
                    <p>do i not want this?: {{dontWant}}</p>
                </div>
                <div class="bottom-buttons">
                    <a class="effectButton" href="/users/{{../userId}}">{{../username}}</a>
                    <a class="effectButton" href="/users/{{../userId}}/effects/new">new effect</a>
                    <a class="effectButton" href="/users/{{../userId}}/effects/{{this._id}}">view effect</a>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</div>