<div class="usersIndex effectsIndex">
    <div>
        <div class="usersNav">
            <h1>users</h1>
            <a href="/users/new">new user</a>
            <a href="/users">other users</a>
            <a href="/">home</a>
        </div>
        <div class="usersDisplay">
            {{#each effects}}
            <div>
                <div class="effectImg">
                    <img src="{{this.img}}" alt="Picture of Effect">
                </div>
                <div class="effectDescription">
                    <p>{{this.description}}</p>
                </div>
                <div class="effectDetails">
                    <p>destroyed: {{this.destroyed}}</p>
                    <p>available: {{this.available}}</p>
                    <p>do i want this?: {{this.want}}</p>
                    <p>do i not want this?: {{dontWant}}</p>
                </div>
                <div class="effectLinks">
                    <a href="/users/{{this._id}}">{{../username}}'s account</a>
                    <a href="/users/{{../userId}}/effects/{{this._id}}/connections">{{username}}'s account</a>
                    <a href="/user/{{../userId}}/effects/new">new effect</a>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</div>