<div class="personPage">
    <div class="personHeader">
            <h2>{{username}}'s effect</h2>
            <a href="/users">other users</a>
            <a class="stores" href="/users/{{userId}}/effects/new">new effect</a>
            <a href="/users/{{userId}}/effects">{{username}}'s effects</a>
            <a class="connections" href="/users/{{userId}}/effects/{{effect_id}}/connections">{{username}}'s connections</a>
        </div>
    <div class="personBody">
        <div class="personInfo">
            <img src="{{effect.img}}" alt="Picture of {{username}}">
            <p>{{effect.description}}</p>
            <a href="/users/{{userId}}/effects">back to effects</a>
           <a href="/users/{{userId}}/effects/{{effect._id}}/delete">delete effect</a>
        </div>
    </div>
</div>