<div class="personPage">
    <div class="personHeader">
        <h2>{{username}}'s effect</h2>
    </div>
    <div class="personBody">
        <div class="personInfo">
            <img class="sizeBig" src="{{effect.img}}" alt="Picture of {{username}}">
            <p>{{effect.description}}</p>
            <div class="bottom-buttons">
                <a class="button is-primary is-outlined" href="/users/{{userId}}/effects">back to effects</a>
                 <a class="button is-primary is-outlined" href="/users/{{userId}}/effects/{{effect._id}}/connections/new">new connection</a>
                 <a class="button is-primary is-outlined" href="/users/{{userId}}/effects/new">new effect</a>
                <a class="button is-primary is-outlined" href="/users/{{userId}}/effects/{{effect._id}}/delete">delete effect</a>
            </div>
        </div>
    </div>

    <div class="connections">
        {{#each effect.connections}}
        <div class="connection">
            <a href="/users/{{../userId}}/effects/{{../effect._id}}/connections/{{this._id}}">
                CONNECTION
            </a>
        </div>
        {{/each}}
    </div>
</div>