<div class="newUserPage">
    <div class="newUserFormBody">
        <div class="newUser">
            <h2>create a new user!</h2>
            <img class="defaultImg" src="https://i.imgur.com/EmkOkVP.gif" alt="Alternating colors">
        </div>
        <div class="form">
            <div class="userInfo">
                <h2> enter user info:</h2>
            </div>
                <form action="/users/{{user._id}}?_method=PUT" method="POST">
                <div class="form-input">
                    <label for="name">name:</label>
                    <input type="text" name="name" value={{user.name}}>
                </div>

                <div class="form-input">
                    <label for="username">username:</label>
                    <input type="text" name="username" value={{user.username}}>
                </div>

                <div class="form-input">
                    <label for="img">user image url:</label>
                    <input type="text" name="img" value={{user.img}}>
                </div>

                <div class="form-input">
                    <label for="description">bio:</label>
                    <input type="text" name="description" value={{user.description}}>
                </div>

                <div class="bottom-buttons">
                    <input class="button primary" type="submit" value="update user">
                    <a href="/users" class="button warning">cancel</a>

                    <a href="/users">home</a>

                </div>
            </form>
        </div>
    </div>
</div>