<div class="usersIndex">
    <div>
        <div class="usersDisplay">
            {{#each users}}
            <div>
                <img class="sizeBig" src="{{this.img}}" alt="Picture of {{this.name}}">
                <p>{{this.description}}</p>
                <a class="userButton" href="/users/{{this._id}}">{{username}}'s account</a>
            </div>
            {{/each}}
        </div>
    </div>
</div>