<div class="usersIndex">
    <div>
        <div class="usersNav">
            <h1>users</h1>
            <a href="/users/new">new user</a>
            <a href="/users">other users</a>
            {{!-- <a href="/">home</a> --}}
        </div>
        <div class="usersDisplay">
            {{#each users}}
            <div>
                <img src="{{this.img}}" alt="Picture of {{this.name}}">
                <p>{{this.description}}</p>
                <a href="/users/{{this._id}}">{{username}}'s account</a>
            </div>
            {{/each}}
        </div>
    </div>
</div>