<div class="personPage">
    <div class="personHeader">
        <h2>{{user.name}}'s page</h2>
        <a class="effectButton" class="stores" href="/users/{{user._id}}/effects/new">new effect</a>
    </div>
    <div class="personBody">
        <div class="personInfo">
            <img class="sizeBig" src="{{user.img}}" alt="Picture of {{user.name}}">
            <p>{{user.description}}</p>
            <div class="bottom-buttons">
                <a class="effectButton" href="/users/{{user._id}}/delete">delete user</a>
                <a class="effectButton" href="/users/{{user._id}}/edit">edit user</a>
                <a class="effectButton" href="/users/{{user.id}}/effects">view effects</a>
            </div>
        </div>
    </div>
</div>